<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" > 
<suite name="Suite1" verbose="1" >

<listeners>
        <listener class-name="Listener.ListenReRun"/>
  </listeners>
 
<test name="ReRun" > 

   
  
    <classes>
       <class name="Utility.Base" />
       <class name="TestCases.TestReRun" />
    </classes> 
    
  </test>
  

  
<test name="AnotherReRun" > 

   
  
    <classes>
       <class name="Utility.Base" />
       <class name="TestCases.TestingAgainRun" />
    </classes> 
    
  </test>
<!-- 
  <test name="Manager - Add Account" > 
 
  
    <classes>
       <class name="Utility.Base" />
       <class name="TestCases.AddCustomerAndAccount" />
    </classes> 
    
  </test>
  
 -->
       
</suite>
