<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" > 
<suite name="Suite1" verbose="1" >

  
<test name="loginTests" > 

    <parameter name="browser" value="chrome"></parameter>  
  
    <classes>
       <class name="Utility.Base" />
       <class name="TestCases.LoginTest" />
    </classes> 
    
  </test>
<!-- 
  <test name="Manager - Add Account" > 

    <parameter name="browser" value="chrome"></parameter>  
  
    <classes>
       <class name="Utility.Base" />
       <class name="TestCases.AddCustomerAndAccount" />
    </classes> 
    
  </test>
  
 -->
       
</suite>
